@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground: hsl(240 10% 3.9%);
  --background: hsl(0 0% 100%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --muted: hsl(240, 1%, 86%);
}

.container {
  width: min(1070px, 100%);
  height: 100dvh;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  color: var(--foreground);
  background-color: var(--backgorund);
  font-family: "Libre Baskerville", serif;
  padding: 0 1rem;
}

.slides-wrapper {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.slide-box {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  padding: 0.5rem;
  touch-action: pan-y;
}

.slide-box .box-content {
  height: max(35vh, 250px);
  aspect-ratio: 3 / 4;
  border: 2px solid var(--muted);
  display: grid;
  place-items: center;
  touch-action: pan-y;
}

.slide-box .box-content h2 {
  font-size: 3rem;
}

.instruction {
  padding: 2rem 0;
  color: var(--muted-foreground);
}
